@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-40%);
    }
    75%{
        transform: translateY(-60%);
    }
    100%{
        transform: translateY(-80%);
    }

}

html{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(212, 144, 144);
    color : #000;
    font-family: "ELAND_Choice_M";
    width: 100%;
    height: 100%;
}

#main_contents{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#main_contents .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.title {
    text-align: center;
    padding-bottom: 50px;
}

.main_title{
    font-family: "SDSamliphopangche_Outline";
    font-size : 50px;
    padding-bottom: 15px;
}
.sub_title{
    font-size: 20px;
    font-weight: bold;
    color: #7f47dd;

}

.intro{
    text-align: center;
    padding-bottom: 40px;
}

.intro h1{
    font-size: 30px;
    padding-bottom: 15px;
}

.type{
    font-size: 22px;
    line-height: 3em;
    height: 2.8em;
    overflow: hidden;
}

.type_list{
    animation: rotate 8s infinite;

}

.button{
    text-align: center;
    padding-bottom: 50px;
}

.button button {
    width: 300px;
    height: 40px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-family: "bazzi";
    font-size: 20px;
    /*font-weight: bold;*/
    cursor: pointer;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.button button:hover{
    text-decoration: underline;
}

.result_data {
    display: flex;
    justify-content: center;
}

.result_data .data_wrap{
    width: 270px;
    padding: 15px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    line-height: 1.5;
    margin-bottom: 50px;
}

.result_data h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 30px;
}

.result_data li{
    font-size: 15px;
    padding-bottom: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.logo a{
    width : 100px;

}

.logo img {
    width: 100%;
    height: auto;
}